@import "../utils.scss";

.sc_bye {
  width: 100%;
  overflow-x: hidden;

  h2 {
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    width: 100%;
    font-size: 50px;
    color: #19254c;
    text-align: center;
    margin-top: 370px;
    margin-bottom: 250px;
    font-weight: 500;
    opacity: 0;
    z-index: 15;
    animation-duration: 1500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    @include tablet {
      max-width: 482px;
      font-size: 44px;
      margin: 290px auto 150px;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 74.8px;
    }

    @include mobile {
      max-width: 297px;
      font-size: 26px;
      margin: 300px auto 70px;
      line-height: 42.8px;
    }

    &.active {
      animation-name: fadeIn;
    }
  }

  .bg {
    width: 100%;
    padding-bottom: 56%;
    background: url("../images/banner/image_bye_pc_1x.jpg") no-repeat center bottom / 100%;

    @include tablet {
      padding-bottom: 68.3%;
      background: url("../images/banner/image_bye_ta_2x.jpeg") no-repeat center bottom / 100%;
    }

    @include mobile {
      padding-bottom: 216%;
      background-image: url("../images/banner/image_bye_mo_2x.jpeg");
    }
  }
}
