@import "../utils.scss";

.sc_eventbg {
  @keyframes changeBackground01 {
    0% {
      background-color: #000;
    }

    50% {
      background-color: #19254c;
    }

    100% {
      background-color: #fff;
    }
  }

  margin-top: 270px;
  padding-top: 255px;
  animation-name: changeBackground01;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  @include tablet {
    margin-top: 120px;
    padding-top: 180px;
  }

  @include mobile {
    margin-top: 120px;
    padding-top: 120px;
  }

  .event {
    padding: 0 90px 325px;

    @include tablet {
      padding: 0 50px 130px;
    }

    @include mobile {
      padding: 0 24px 150px;
    }

    .slogan_wrapper {
      position: relative;
      margin-bottom: 235px;

      @include tablet {
        margin-bottom: 190px;
      }

      @include mobile {
        margin-bottom: 120px;
      }

      .txt_wrap {
        width: 100%;
        // 넓이의 10%를 쓰는것.
        height: 10vw;
        background: url("../images/banner/slogan_n_2x.png") no-repeat;
        background-size: 100%;
        background-position: center;
        display: inline-block;
        transition: opacity 600ms linear;
        vertical-align: middle;

        @include tablet {
          position: relative;
          margin-bottom: 235px;
          background: url("../images/banner/slogan_n_2x.png") no-repeat;
          background-size: 100%;
          background-position: center;
          display: block;
          width: 100%;
          transition: opacity 600ms linear;
          vertical-align: middle;
          height: 100px;
        }
      }
    }

    .banner_wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 20px;

      @include tablet {
        gap: 12px;
      }

      @include mobile {
        flex-direction: column;
        gap: 10px;
      }

      li {
        @keyframes moveFadeIn {
          0% {
            opacity: 0;
            transform: translateY(120px);
          }

          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }

        position: relative;
        width: 33.33%;
        transform: translateY(120px);
        opacity: 0;
        animation-duration: 800ms;
        animation-timing-function: cubic-bezier(0.01, 0.24, 0.63, 1);
        animation-fill-mode: forwards;

        &.banner {
          animation-name: moveFadeIn;

          @include mobile {
            width: 100%;
          }

          h3 {
            position: relative;
            z-index: 10;
            padding-bottom: 100%;
            font-weight: bold;

            a {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-end;
              overflow: hidden;

              span {
                display: inline-block;
                color: #e6e9ef;
                text-align: center;

                &.title,
                &.sub_title {
                  transform: translate3d(0px, 100px, 0px);
                  transition: all 500ms cubic-bezier(0.05, 0.44, 0.63, 1);
                }

                &.title {
                  margin-bottom: 12px;
                  padding: 4px 12px;
                  border: 2px solid #e6e9ef;
                  border-radius: 30px;
                  font-size: 12px;

                  @include tablet {
                    transition-delay: 1050ms;
                    transform: translate3d(0px, 0px, 0px);
                    margin-bottom: 10px;
                    padding: 2px 10px;
                    font-size: 10px;
                  }

                  @include mobile {
                    transition-delay: 1050ms;
                    transform: translate3d(0px, 0px, 0px);
                    margin-bottom: 10px;
                    padding: 2px 10px;
                    font-size: 10px;
                  }
                }

                &.sub_title {
                  margin-bottom: 50px;
                  font-size: 24px;
                  line-height: 38.5px;
                  opacity: 0;
                  font-weight: 400;

                  @include tablet {
                    transition-delay: 1050ms;
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                    margin-bottom: 30px;
                    font-size: 16px;
                    line-height: 26.1px;
                  }

                  @include mobile {
                    transition-delay: 1050ms;
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                    margin-bottom: 30px;
                    font-size: 16px;
                    line-height: 26.1px;
                  }
                }
              }
            }
          }

          div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
          }

          &:nth-of-type(1) .bg {
            background-image: url("../images/banner/pc_bn_1.jpg");
          }

          &:nth-of-type(2) {
            animation-delay: 0.2s;

            .bg {
              background-image: url("../images/banner/pc_bn_2.jpg");
              animation-delay: 0.2s;
            }
          }

          &:nth-of-type(3) {
            animation-delay: 0.4s;

            .bg {
              background-image: url("../images/banner/pc_bn_3.jpg");
              animation-delay: 0.4s;
            }
          }

          &:hover {
            .blur {
              opacity: 1;
            }

            .title {
              transform: translate3d(0px, 0px, 0px);
            }

            .sub_title {
              opacity: 1;
              transform: translate3d(0px, 0px, 0px);
            }
          }

          .blur {
            opacity: 0;
            transition: opacity 500ms cubic-bezier(0.01, 0.24, 0.63, 1);
          }

          &:nth-of-type(1) .blur {
            background-image: url("../images/banner/pc_bn_1_blur.jpg");
          }

          &:nth-of-type(2) .blur {
            background-image: url("../images/banner/pc_bn_2_blur.jpg");
          }

          &:nth-of-type(3) .blur {
            background-image: url("../images/banner/pc_bn_3_blur.jpg");
          }
        }
      }
    }
  }

  .desc {
    position: relative;
    padding-bottom: 100vh;

    .bg {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      .car_bottom {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background: url("../images/banner/image_vertical_2_pc_2.png") center/cover no-repeat;
        // background-size: cover;
      }

      .dim {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(6, 12, 30, 0.65) 38%, rgba(6, 12, 30, 0.65));
      }

      .car_top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background: url("../images/banner/image_vertical_1_pc_2.png") no-repeat center/cover top;
        // background-size: cover;
      }
    }

    &.background_fixed {
      .car_top,
      .car_bottom {
        position: fixed;
        top: 0;
      }
    }

    &.background_absolute {
      .car_top,
      .car_bottom {
        position: absolute;
        top: auto;
        bottom: 0;
      }
    }

    .vertical_motion {
      position: relative;
      z-index: 2;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      li {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 100vh;
        color: #f9f9f9;
        text-align: center;
        opacity: 0;

        @include tablet {
          padding: 0 50px;
        }

        @include mobile {
          padding: 0 24px;
        }

        h3 {
          font-size: 50px;
          font-weight: 500;

          @include tablet {
            font-size: 44px;
            font-weight: 500;
            letter-spacing: -0.2px;
            line-height: 74.8px;
          }

          @include mobile {
            max-width: 220px;
            margin: 0 auto;
            font-size: 26px;
            line-height: 42.9px;
          }
        }

        p {
          margin-top: 30px;
          font-size: 24px;
          line-height: 40.8px;

          @include tablet {
            margin-top: 10px;
            font-size: 24px;
            line-height: 46px;
          }

          @include mobile {
            margin-top: 14px;
            font-size: 16px;
            line-height: 27.2px;
          }
        }
      }
    }
  }

  @keyframes changeBackground02 {
    0% {
      background-color: #fff;
    }

    50% {
      background-color: #19254c;
    }

    100% {
      background-color: #000;
    }
  }

  &.event_bg_on {
    animation-name: changeBackground02;

    .slogan_wrapper {
      .txt_wrap {
        background: url("../images/banner/slogan_w_2x.png") no-repeat;
        background-size: 100%;
        background-position: center;

        @include tablet {
          position: relative;
          margin-bottom: 235px;
          background: url("../images/banner/slogan_w_2x.png") no-repeat;
          background-size: 100%;
          background-position: center;
          display: block;
          width: 100%;
          transition: opacity 600ms linear;
          vertical-align: middle;
          height: 100px;
        }
      }
    }
  }
}
